#imagesProfil {
  height: 150px;
  object-fit: contain;
  border-radius: 10px;
}
header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-primary);
  color: var(--color-text-primary);
  padding: 1rem;
  z-index: 100;
}
#titre {
  padding: 1rem;
}
.logo {
  height: 150px;
  display: flex;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
  transition: transform 0.3s;
}

.logo:hover{
  transform: scale(1.05);
}

.logo img {
  object-fit: contain;
  width: 100%;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li:not(:last-child) {
  margin-right: 1rem;
}

nav li {
  color: var(--color-text-primary);
  text-decoration: none;
  font-size: 1.2rem;
  padding: 0.5rem;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.3s;
}

nav li:hover {
  transform: scale(1.05);
  background-color: var(--color-highlight);
  color: var(--color-text-secondary);
}

.hamburger-menu {
  display: none;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  position: relative;
  z-index: 101;
}

.hamburger-menu span {
  display: block;
  height: 3px;
  width: 100%;
  background: white;
  border-radius: 9px;
  opacity: 1;
  position: relative;
  transform-origin: center;
  transition: all 0.3s ease-in-out;
}

.hamburger-menu span:nth-child(2) {
  margin: 5px 0;
}

nav.open .hamburger-menu span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 6px);
}

nav.open .hamburger-menu span:nth-child(2) {
  opacity: 0;
}

nav.open .hamburger-menu span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -6px);
}

header nav.open li {
  margin-bottom: 0.5rem;
}
header nav.open{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
header nav.open ul {
  display: flex;
  flex-direction: column;
  background-color: #222;
  padding: 1rem;
  width: 100%;
  height: 100%;
  padding-top: 75px;
}
header nav.open .hamburger-menu{
  position: absolute;
  top: 25px;
  right: 25px;
  background: transparent;
  border: none;
  cursor: pointer;
}

/* Styles pour les petits écrans */
@media screen and (max-width: 750px) {
  header nav ul {
    display: none;
  }

  .hamburger-menu {
    display: block;
  }

}
