<footer>
  <div class="container">
      <p>Site web créé par Maxence COEUR</p>
      <ul class="social-icons">
        <li><a href="https://www.linkedin.com/in/maxence-coeur/"><img class="imageIcon" src="assets/ressource/linkedin.png" alt=""></a></li>
        <li><a href="https://github.com/MAXCOEUR"><img class="imageIcon" src="assets/ressource/GitHub.png" alt=""></a></li>
        <li><a href="https://www.youtube.com/channel/UCxhOP9q0xEx4JHy-DpRYpmA"><img class="imageIcon" src="assets/ressource/youtube.png" alt=""></a></li>
      </ul>
      <p><a href="mailto:maxence.coeur@outlook.fr">maxence.coeur@outlook.fr</a></p>
      <p>&copy; Tous droits réservés</p>
  </div>
</footer>