footer {
  background-color: var(--color-primary);
  color: var(--color-text-primary);
  padding: 1rem;
  text-align: center;
}

.container {
  max-width: 900px;
  margin: 0 auto;
}

a {
  color: var(--color-text-primary);
}

.imageIcon{
  width: 50px;
}
.social-icons {
  margin: 1rem;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
