<div id="page-container">
  <section class="section">
    <h2>À propos de moi</h2>
    <div class="about-content">
      <div class="about-text">
        <p class="text-me">
          Bonjour ! Je me nomme Maxence COEUR et je suis originaire de
          Dommartin, une charmante commune située à Bâgé-Dommartin, dans le
          département de l’Ain, en France. Mes racines sont profondément ancrées
          en Bresse, et j’éprouve une grande affection pour mon département.
        </p>
        <div class="image-me">
          <img src="assets/home/dommartin.jpg" alt="dommartin" />
        </div>
        <p class="text-me">
          Je suis un passionné aux intérêts variés, et l’un de mes domaines de
          prédilection est le tennis. Depuis plus de 10 ans, je pratique ce
          sport au sein du club de Feillens. Bien que je ne sois pas
          particulièrement compétitif, j’aime jouer des matchs de tennis de
          temps en temps, simplement pour le plaisir du jeu.
        </p>
        <div class="image-me">
          <img src="assets/home/tennis.jpeg" alt="Tennis" />
        </div>
        <p class="text-me">
          J’ai également une grande affection pour le VTT. Depuis mes années de
          collège, je pratique régulièrement cette activité avec mon père. Nos
          sorties en UNSS plein air, qui avaient lieu tous les mercredis
          après-midi, ont été le terreau fertile où ma passion pour le VTT a
          véritablement pris forme.
        </p>
        <div class="image-me">
          <img src="assets/home/VTT.png" alt="VTT" />
        </div>
        <p class="text-me">
          En plus de ma passion pour le tennis, je suis profondément fasciné par
          l’espace et les nouvelles technologies. Mon intérêt pour ces domaines
          m’a même poussé à plonger dans le monde captivant de l’impression 3D.
          Je suis un esprit curieux, avide d’apprendre, et je me sens à l’aise
          dans de nombreuses situations.
        </p>
        <div class="image-me">
          <img src="assets/home/impression-3d.jpg" alt="Impression 3D" />
        </div>
      </div>
    </div>
    <div class="buttons">
      <button (click)="moveProject()">
        Voir mes projets
      </button>
      <button (click)="moveExperience()">
        Voir mes expériences
      </button>
    </div>
  </section>

  <section class="section">
    <h2>Contact</h2>
    <p>N'hésitez pas à me contacter :</p>
    <ul>
      <li class="text-me">
        Email :
        <a href="mailto:maxence.coeur@outlook.fr">maxence.coeur@outlook.fr</a>
      </li>
      <li class="text-me">
        Réseaux sociaux :
        <a href="https://www.linkedin.com/in/maxence-coeur/">LinkedIn</a>
      </li>
    </ul>
  </section>
</div>
