<section id="about">
  <h2>À propos de moi</h2>
  <div class="about-content">
    <div class="about-text">
      <p>
        Bonjour ! Je m'appelle Maxence COEUR et je suis originaire de Dommartin, une charmante commune de Bâgé-Dommartin dans l'Ain, en France. Je suis très attaché à mes racines, profondément enracinées en Bresse, et j'apprécie énormément mon département.
      </p>
      <img src="Bage-dommartin.jpg" alt="Bage-dommartin">
      <p>
        Passionné par divers domaines, j'adore m'aventurer dans le monde du tennis, que je pratique depuis plus de 10 ans. Bien que je ne sois pas très compétitif, je joue occasionnellement des matchs de tennis pour le plaisir du jeu.
      </p>
      <img src="tennis.jpg" alt="Tennis">
      <p>
        J'apprécie également le VTT, une activité que je pratique régulièrement avec mon père depuis mes années de collège. C'est lors de nos sorties en UNSS plein air, où nous faisions du vélo tous les mercredis après-midi, que ma passion pour le VTT a véritablement pris forme.
      </p>
      <img src="vtt.jpg" alt="VTT">
      <p>
        En parallèle, je suis fasciné par l'espace et les nouvelles technologies. Mon intérêt pour ces sujets m'a même conduit à explorer le monde de l'impression 3D. Je suis quelqu'un de curieux, j'aime apprendre et je suis capable de me débrouiller dans de nombreuses situations.
      </p>
      <img src="impression3d.jpg" alt="Impression 3D">
    </div>
  </div>
  <div class="buttons">
    <button onclick="location.href='liste_projets.html'">Voir mes projets</button>
    <button onclick="location.href='mes_etudes.html'">Voir mes études</button>
  </div>
</section>



<section id="contact">
  <h2>Contact</h2>
  <p>N'hésitez pas à me contacter :</p>
  <ul>
    <li>Email : <a href="mailto:maxence.coeur@outlook.fr">maxence.coeur@outlook.fr</a></li>
    <li>Réseaux sociaux : <a href="https://www.linkedin.com/in/maxence-coeur/">LinkedIn</a></li>
  </ul>
</section>
